@import "../../styles/globals";
@import "../../styles/colors";

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /* ? */
  align-content: space-around; /* ? */
  background-color: $tertiaryColor;
  width: 100%;
  max-width: $maxMainSize;
  @include page--centering;
  margin-bottom: 3.12rem;
  padding-top: min(6.76%, 3.5rem);
  border-radius: 1.5625rem;
  @media (max-width: 576px) {
    display: column;
    background-color: $secondaryColor;
    margin-bottom: 0.438rem;
    padding-top: 0;
    border-radius: 0;
  }
}
