@import "../../styles/globals";
@import "../../styles/colors";

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.69rem;
  @media (max-width: 576px) {
    width: 69.33%;
    @include page--centering;
    gap: 7.06rem;
  }
  .main-container__title,
  .main-container__text,
  .main-container__back-to-home{
    margin: 0;
  }
  .main-container__title {
    margin-top: 8.69rem;
    @include not-found--title;
    @media (max-width: 576px) {
      @include not-found--title--mobile;
      margin-top: 7.06rem;
    }
  }
  .main-container__text {
    @include not-found--text;
    @media (max-width: 576px) {
      @include not-found--text--mobile;
    }
  }
  .main-container__back-to-home {
    @include not-found--back-to-home;
    margin-bottom: 8.69rem;
    @media (max-width: 576px) {
      @include not-found--back-to-home--mobile;
      margin-bottom: 7.06rem;
    }
  }
}
