@font-face {
  font-family: Montserrat;
  src: url(../assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

$primaryFont: "Montserrat"; // Font du design du site

$maxSiteSize: 1440px; // Taille maximum de la page du site
$maxMainSize: 77.5rem; // Taille maximum des sections de page du site

a{
text-decoration: none;
}

@mixin link--position {
  text-decoration: $primaryColor underline;
}

@mixin globalsFont { // 
  font-family: $primaryFont;
  font-weight: 500;
  line-height: 142.6%;
  letter-spacing: 0em;
}

@mixin linkFont--desktop {
  @include globalsFont;
  color: $primaryColor;
  font-size: 1.5rem;
  text-align: right;
}
@mixin linkFont--mobile {
  @include globalsFont;
  color: $primaryColor;
  font-size: 0.75rem;
  text-align: right;
}

@mixin bannerText--desktop {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 3rem;
  text-align: left;
}
@mixin bannerText--mobile {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 1.5rem;
  line-height: 100%;
  text-align: left;
}

@mixin thumbnail--text {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 1.125rem;
  text-align: left;
}

@mixin footerText--desktop {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}
@mixin footerText--mobile {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 0.75rem;
  text-align: center;
}

@mixin tag--text {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 0.875rem;
  text-align: center;
}

@mixin host--text {
  @include globalsFont;
  color: $primaryColor;
  font-size: 1.125rem;
  text-align: right;
}

@mixin collapsible--about--title {
  @include globalsFont;
  color: $secondaryColor;
  font-size: 1.5rem;
  text-align: left;
}

@mixin collapsible--about--content {
  @include globalsFont;
  color: $primaryColor;
  font-size: 1.125rem;
  text-align: left;
}

@mixin image--size { // Taille des fichiers images dans leur parent
  width: 100%;
  height: 100%;
}

@mixin page--centering { // Centrage de la page
  margin-left: auto;
  margin-right: auto;
}

@mixin liste-text {
  font-family: $primaryFont;
  color: $primaryColor;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 142.6%;
  letter-spacing: 0em;
  text-align: left;  
}
