@import "../../styles/globals";
@import "../../styles/variables";
@import "../../styles/colors";

.housing-profile__infos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    min-width: 39.688rem;
    height: 4.813rem;
  }
  .housing-profile__infos--title {
    min-width: 39.688rem;
    height: 3.188rem;
  }
  .housing-profile__infos--title h1 {
    @include globalsFont;
    font-size: 2.25rem;
    line-height: 3.188rem;
    text-align: left;
    color: $primaryColor;
  }
  .housing-profile__infos--location {
    width: 11rem;
    height: 1.625rem;
  }
  .housing-profile__infos--location h2 {
    @include globalsFont;
    font-size: 1.125rem;
    line-height: 1.625rem;
    text-align: left;
    color: $primaryColor;
    white-space: nowrap;
  }