@import "../../styles/globals";
@import "../../styles/variables";
@import "../../styles/colors";

.banner {
  position: relative;
  width: 100%;
  max-width: $maxMainSize;
  @include page--centering;
  margin-bottom: 2.688rem;
}
.banner__img {
  width: 100%;
  height: 20.37%;
  max-height: 13.938rem;
  border-radius: 1.563rem;
  object-fit: cover;
  filter: brightness(70%);
}
.banner__div-text {
  position: absolute;
  left: 21.57%;
  bottom: 60.76%;
  width: 56.85%;
  max-width: 705px;
  height: 4.25rem;
}
.banner__text {
  @include bannerText--desktop;
}
