@import "../../styles/globals";
@import "../../styles/variables";
@import "../../styles/colors";

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $quaternaryColor;
    width: $maxSiteSize;
    @include page--centering;
    height: 13.0625rem;
  }
  .footer__div-logo {
    width: 7.625rem;
    height: 2.46525rem;
    flex-shrink: 0;
  }
  .footer__logo {
    @include image--size;
  }
  .footer__div-text {
    display: flex;
    justify-content: center;
    width: 35.63%;
    max-width: 32.0625rem;
    height: 2.875rem;
  }
  .footer__text {
    @include footerText--desktop;
  }